garmin-obsidian-flows.json
[
    {
        "id": "garmin_obsidian_tab",
        "type": "tab",
        "label": "Garmin → Obsidian",
        "disabled": false,
        "info": "Pulls wellness data from Garmin Connect and writes to Obsidian daily notes.\n\nSetup:\n1. Run: npm install  (in the strava-to-obsidian directory)\n2. Edit the Setup inject node with your Garmin email/password, the full path to garmin-fetch.js, vault path, and timezone offset.\n3. Click the Setup inject — it writes credentials to ~/.garmin-obsidian.json and stores config in Node-RED flow context.\n4. Click the daily or weekly inject to test.\n\nOAuth tokens are cached in garmin-tokens/ (alongside garmin-fetch.js) and reused automatically. Delete that directory to force re-login. Both credentials and tokens live in the mounted volume so they survive container restarts."
    },
    {
        "id": "comment_setup",
        "type": "comment",
        "z": "garmin_obsidian_tab",
        "name": "── Setup ────────────────────────────────────────────────────",
        "info": "",
        "x": 270,
        "y": 20,
        "wires": []
    },
    {
        "id": "setup_inject",
        "type": "inject",
        "z": "garmin_obsidian_tab",
        "name": "Setup (run once)",
        "props": [
            {
                "p": "garminEmail",
                "v": "YOUR_EMAIL@EXAMPLE.COM",
                "vt": "str"
            },
            {
                "p": "garminPassword",
                "v": "YOUR_GARMIN_PASSWORD",
                "vt": "str"
            },
            {
                "p": "configFilePath",
                "v": "/path/to/strava-to-obsidian/garmin.credentials.json",
                "vt": "str"
            },
            {
                "p": "scriptPath",
                "v": "/path/to/strava-to-obsidian/garmin-fetch.js",
                "vt": "str"
            },
            {
                "p": "vaultPath",
                "v": "/kms/10 PMS/11 Daily Notes",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "setup_store"
            ]
        ]
    },
    {
        "id": "setup_store",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Store Config",
        "func": "if (!msg.garminEmail || msg.garminEmail === 'YOUR_EMAIL@EXAMPLE.COM') {\n    node.warn('Set garminEmail in the Setup inject node.');\n    return null;\n}\nif (!msg.garminPassword || msg.garminPassword === 'YOUR_GARMIN_PASSWORD') {\n    node.warn('Set garminPassword in the Setup inject node.');\n    return null;\n}\nif (!msg.scriptPath || msg.scriptPath.indexOf('/path/to/') !== -1) {\n    node.warn('Set scriptPath to the full path of garmin-fetch.js in the Setup inject node.');\n    return null;\n}\nflow.set('vaultPath', msg.vaultPath);\nflow.set('scriptPath', msg.scriptPath);\nmsg.payload = JSON.stringify({ email: msg.garminEmail, password: msg.garminPassword }, null, 2);\nmsg.filename = msg.configFilePath;\nnode.status({ fill: 'green', shape: 'dot', text: 'Config written to ' + msg.configFilePath });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "setup_write_config"
            ]
        ]
    },
    {
        "id": "setup_write_config",
        "type": "file",
        "z": "garmin_obsidian_tab",
        "name": "Write ~/.garmin-obsidian.json",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": true,
        "encoding": "none",
        "x": 620,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "comment_flow1",
        "type": "comment",
        "z": "garmin_obsidian_tab",
        "name": "── Flow 1: Daily Wellness (22:30 UTC) ───────────────────────",
        "info": "",
        "x": 290,
        "y": 160,
        "wires": []
    },
    {
        "id": "garmin_daily_inject",
        "type": "inject",
        "z": "garmin_obsidian_tab",
        "name": "Daily at 02:00 UTC",
        "props": [],
        "repeat": "",
        "crontab": "0 2 * * *",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "garmin_daily_build"
            ]
        ]
    },
    {
        "id": "garmin_manual_inject",
        "type": "inject",
        "z": "garmin_obsidian_tab",
        "name": "Run Single Date (manual)",
        "props": [
            {
                "p": "manualDate",
                "v": "2026-03-17",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "garmin_daily_build"
            ]
        ]
    },
    {
        "id": "garmin_daily_build",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Build Daily Command",
        "func": "const scriptPath = flow.get('scriptPath');\nif (!scriptPath) { node.warn('Run the Setup inject first.'); return null; }\nlet date;\nif (msg.manualDate) {\n    date = msg.manualDate;\n} else {\n    // Use system local time — yesterday relative to when this runs\n    const now = new Date();\n    const yest = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1);\n    const yyyy = String(yest.getFullYear());\n    const mm = String(yest.getMonth() + 1).padStart(2, '0');\n    const dd = String(yest.getDate()).padStart(2, '0');\n    date = yyyy + '-' + mm + '-' + dd;\n}\nnode.warn('garmin daily → date: ' + date);\nconst parts = date.split('-');\nmsg.garminDate = date;\nmsg.dateStr = { year: parts[0], month: parts[1], day: parts[2] };\nmsg.files = { dailynotefile: date + '.md' };\nmsg._isHistoric = false;\nmsg.payload = scriptPath + ' --type daily --date ' + date;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "garmin_daily_exec"
            ]
        ]
    },
    {
        "id": "garmin_daily_exec",
        "type": "exec",
        "z": "garmin_obsidian_tab",
        "name": "Run garmin-fetch.js",
        "command": "node",
        "addpay": true,
        "append": "",
        "useSpawn": false,
        "timer": "60",
        "winHide": true,
        "oldrc": false,
        "outputs": 3,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "garmin_daily_parse"
            ],
            [
                "exec_err_debug"
            ],
            []
        ]
    },
    {
        "id": "garmin_daily_parse",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Parse Output",
        "func": "const raw = (msg.payload || '').trim();\nif (!raw) {\n    node.warn('garmin-fetch: no stdout. Check Exec Error debug for stderr.');\n    return null;\n}\nlet data;\ntry { data = JSON.parse(raw); } catch(e) {\n    node.warn('garmin-fetch JSON parse error: ' + raw.substring(0, 200));\n    return null;\n}\nmsg.sleepData    = data.sleep    || {};\nmsg.hrData       = data.hr       || {};\nmsg.wellnessData = data.wellness || {};\nmsg.weightData   = data.weight   || null;\nmsg.bpData       = data.bp       || null;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 220,
        "wires": [
            [
                "link_daily_to_format"
            ]
        ]
    },
    {
        "id": "link_daily_to_format",
        "type": "link out",
        "z": "garmin_obsidian_tab",
        "name": "→ Format Chain",
        "mode": "link",
        "links": [
            "link_garmin_to_format"
        ],
        "x": 945,
        "y": 220,
        "wires": []
    },
    {
        "id": "exec_err_debug",
        "type": "debug",
        "z": "garmin_obsidian_tab",
        "name": "Exec Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "comment_flow2",
        "type": "comment",
        "z": "garmin_obsidian_tab",
        "name": "── Flow 2: Weekly Cycling (Mon 2 AM) ────────────────────────",
        "info": "",
        "x": 290,
        "y": 360,
        "wires": []
    },
    {
        "id": "garmin_weekly_inject",
        "type": "inject",
        "z": "garmin_obsidian_tab",
        "name": "Weekly Mon 2 AM",
        "props": [],
        "repeat": "",
        "crontab": "0 2 * * 1",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "garmin_weekly_build"
            ]
        ]
    },
    {
        "id": "garmin_weekly_build",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Build Weekly Command",
        "func": "const scriptPath = flow.get('scriptPath');\nif (!scriptPath) { node.warn('Run the Setup inject first.'); return null; }\n// Runs Monday 02:00 local — sunday = yesterday, monday = 6 days before that\nconst today = new Date();\nconst sunday = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 1);\nconst monday = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);\nconst fmt = function(d) {\n    return d.getFullYear() + '-'\n        + String(d.getMonth() + 1).padStart(2, '0') + '-'\n        + String(d.getDate()).padStart(2, '0');\n};\nmsg.weekStart = fmt(monday);\nmsg.weekEnd   = fmt(sunday);\nconst yyyy = String(sunday.getFullYear());\nconst mm = String(sunday.getMonth() + 1).padStart(2, '0');\nconst dd = String(sunday.getDate()).padStart(2, '0');\nmsg.garminDate = yyyy + '-' + mm + '-' + dd;\nmsg.dateStr = { year: yyyy, month: mm, day: dd };\nmsg.files = { dailynotefile: yyyy + '-' + mm + '-' + dd + '.md' };\nconst jan1 = new Date(sunday.getFullYear(), 0, 1);\nconst weekNum = Math.ceil(((sunday - jan1) / 86400000 + jan1.getDay() + 1) / 7);\nmsg.weekLabel = 'W' + String(weekNum).padStart(2, '0');\nmsg._isHistoric = false;\nmsg.payload = scriptPath + ' --type weekly --weekStart ' + msg.weekStart + ' --weekEnd ' + msg.weekEnd;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "garmin_weekly_exec"
            ]
        ]
    },
    {
        "id": "garmin_weekly_exec",
        "type": "exec",
        "z": "garmin_obsidian_tab",
        "name": "Run garmin-fetch.js",
        "command": "node",
        "addpay": true,
        "append": "",
        "useSpawn": false,
        "timer": "60",
        "winHide": true,
        "oldrc": false,
        "outputs": 3,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "garmin_weekly_parse"
            ],
            [
                "exec_err_debug"
            ],
            []
        ]
    },
    {
        "id": "garmin_weekly_parse",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Parse & Check Rides",
        "func": "const raw = (msg.payload || '').trim();\nif (!raw) {\n    return [null, { payload: 'No output from script (check Exec Error debug)' }];\n}\nlet data;\ntry { data = JSON.parse(raw); } catch(e) {\n    return [null, { payload: 'Parse error: ' + raw.substring(0, 200) }];\n}\nif (!data.stats || data.stats.count === 0) {\n    return [null, { payload: 'No cycling rides ' + msg.weekStart + '\\u2013' + msg.weekEnd }];\n}\nmsg.weeklyStats = data.stats;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 420,
        "wires": [
            [
                "garmin_format_weekly"
            ],
            [
                "garmin_weekly_debug"
            ]
        ],
        "outputLabels": [
            "rides found",
            "no rides / error"
        ]
    },
    {
        "id": "garmin_format_weekly",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Format Weekly Cycling",
        "func": "const st = msg.weeklyStats;\nfunction fmtDur(s) {\n    const h = Math.floor(s / 3600);\n    const m = String(Math.floor((s % 3600) / 60)).padStart(2, '0');\n    return h + 'h ' + m + 'm';\n}\nconst dedupId = 'garmin-weekly-' + msg.garminDate + '-' + msg.weekLabel;\nmsg.noteupdate = [\n    '- \\uD83D\\uDEB4 Weekly Cycling ' + msg.weekLabel + ' #garmin',\n    '  <!-- ' + dedupId + ' -->',\n    '\\t- **Distance:** ' + (st.distanceM / 1000).toFixed(1) + ' km'\n        + ' | **Rides:** ' + st.count\n        + ' | **Elevation:** ' + Math.round(st.elevationM) + ' m'\n        + ' | **Time:** ' + fmtDur(st.movingSecs)\n].join('\\n');\nmsg.dedupId = dedupId;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 420,
        "wires": [
            [
                "garmin_build_filename_w"
            ]
        ]
    },
    {
        "id": "garmin_build_filename_w",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Daily Note Filename",
        "func": "const vaultPath = flow.get('vaultPath') || '/kms/10 PMS/11 Daily Notes';\nmsg.filename = vaultPath\n    + '/' + msg.dateStr.year\n    + '/' + msg.dateStr.month\n    + '/' + msg.files.dailynotefile;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 420,
        "wires": [
            [
                "link_weekly_to_write"
            ]
        ]
    },
    {
        "id": "link_weekly_to_write",
        "type": "link out",
        "z": "garmin_obsidian_tab",
        "name": "→ Write Queue",
        "mode": "link",
        "links": [
            "link_from_garmin"
        ],
        "x": 1375,
        "y": 420,
        "wires": []
    },
    {
        "id": "garmin_weekly_debug",
        "type": "debug",
        "z": "garmin_obsidian_tab",
        "name": "Weekly Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "comment_flow3",
        "type": "comment",
        "z": "garmin_obsidian_tab",
        "name": "── Flow 3: Historic Loader (manual) ─────────────────────────",
        "info": "",
        "x": 290,
        "y": 560,
        "wires": []
    },
    {
        "id": "garmin_historic_inject",
        "type": "inject",
        "z": "garmin_obsidian_tab",
        "name": "Load History (manual)",
        "props": [
            {
                "p": "historyYear",
                "v": "2024",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "garmin_historic_init"
            ]
        ]
    },
    {
        "id": "garmin_historic_init",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Init Day Cursor",
        "func": "// Guard: don't re-init if cursor already set (mid-iteration)\nif (msg._historicCurrent) {\n    msg._isHistoric = true;\n    return msg;\n}\nif (!msg.historyYear) { node.warn('historyYear not set on inject node.'); return null; }\nconst scriptPath = flow.get('scriptPath');\nif (!scriptPath) { node.warn('Run the Setup inject first.'); return null; }\nconst year = Number(msg.historyYear);\nmsg._historicStart   = Date.UTC(year, 0, 1);\nmsg._historicEnd     = Date.UTC(year, 11, 31);\nmsg._historicCurrent = Date.UTC(year, 0, 1);\nmsg._isHistoric = true;\nconst d = new Date(msg._historicCurrent);\nconst yyyy = String(d.getUTCFullYear());\nconst mm = String(d.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(d.getUTCDate()).padStart(2, '0');\nmsg.garminDate = yyyy + '-' + mm + '-' + dd;\nmsg.dateStr = { year: yyyy, month: mm, day: dd };\nmsg.files = { dailynotefile: yyyy + '-' + mm + '-' + dd + '.md' };\nnode.status({ text: 'Starting ' + year });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 620,
        "wires": [
            [
                "garmin_historic_build"
            ]
        ]
    },
    {
        "id": "garmin_historic_build",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Build Daily Command",
        "func": "const scriptPath = flow.get('scriptPath');\nmsg.payload = scriptPath + ' --type daily --date ' + msg.garminDate;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            [
                "garmin_historic_exec"
            ]
        ]
    },
    {
        "id": "garmin_historic_exec",
        "type": "exec",
        "z": "garmin_obsidian_tab",
        "name": "Run garmin-fetch.js",
        "command": "node",
        "addpay": true,
        "append": "",
        "useSpawn": false,
        "timer": "60",
        "winHide": true,
        "oldrc": false,
        "outputs": 3,
        "x": 770,
        "y": 620,
        "wires": [
            [
                "garmin_historic_parse"
            ],
            [
                "exec_err_debug"
            ],
            []
        ]
    },
    {
        "id": "garmin_historic_parse",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Parse Output",
        "func": "const raw = (msg.payload || '').trim();\nif (!raw) {\n    node.warn('No output for ' + msg.garminDate + ' — skipping');\n    return [null, msg];  // out2 → skip to next day\n}\nlet data;\ntry { data = JSON.parse(raw); } catch(e) {\n    node.warn('Parse error for ' + msg.garminDate + ': ' + raw.substring(0, 200));\n    return [null, msg];  // out2 → skip to next day\n}\nmsg.sleepData    = data.sleep    || {};\nmsg.hrData       = data.hr       || {};\nmsg.wellnessData = data.wellness || {};\nmsg.weightData   = data.weight   || null;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 620,
        "wires": [
            [
                "link_historic_to_format"
            ],
            [
                "garmin_historic_next_day"
            ]
        ],
        "outputLabels": [
            "ok → format",
            "skip → next day"
        ]
    },
    {
        "id": "link_historic_to_format",
        "type": "link out",
        "z": "garmin_obsidian_tab",
        "name": "→ Format Chain",
        "mode": "link",
        "links": [
            "link_garmin_to_format"
        ],
        "x": 1145,
        "y": 620,
        "wires": []
    },
    {
        "id": "garmin_historic_next_day",
        "type": "link in",
        "z": "garmin_obsidian_tab",
        "name": "← Next Day",
        "links": [
            "link_historic_skip",
            "link_next_day_out"
        ],
        "x": 1145,
        "y": 700,
        "wires": [
            [
                "garmin_historic_advance"
            ]
        ]
    },
    {
        "id": "garmin_historic_advance",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Advance Day",
        "func": "msg._historicCurrent += 86400000;\nif (msg._historicCurrent > msg._historicEnd) {\n    node.status({ fill: 'green', shape: 'dot', text: 'Done: ' + msg.historyYear });\n    return [null, { payload: 'Historic load done: ' + msg.historyYear }];\n}\nconst d = new Date(msg._historicCurrent);\nconst yyyy = String(d.getUTCFullYear());\nconst mm = String(d.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(d.getUTCDate()).padStart(2, '0');\nmsg.garminDate = yyyy + '-' + mm + '-' + dd;\nmsg.dateStr = { year: yyyy, month: mm, day: dd };\nmsg.files = { dailynotefile: yyyy + '-' + mm + '-' + dd + '.md' };\nconst total   = Math.round((msg._historicEnd   - msg._historicStart) / 86400000) + 1;\nconst current = Math.round((msg._historicCurrent - msg._historicStart) / 86400000) + 1;\nnode.status({ text: msg.garminDate + ' (' + current + '/' + total + ')' });\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 700,
        "wires": [
            [
                "garmin_historic_delay"
            ],
            [
                "garmin_historic_done"
            ]
        ],
        "outputLabels": [
            "next day",
            "done"
        ]
    },
    {
        "id": "garmin_historic_delay",
        "type": "delay",
        "z": "garmin_obsidian_tab",
        "name": "2s Between Days",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "garmin_historic_build"
            ]
        ]
    },
    {
        "id": "garmin_historic_done",
        "type": "debug",
        "z": "garmin_obsidian_tab",
        "name": "Historic Done",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1140,
        "y": 760,
        "wires": []
    },
    {
        "id": "comment_write",
        "type": "comment",
        "z": "garmin_obsidian_tab",
        "name": "── Shared: Format & Write Chain ─────────────────────────────",
        "info": "",
        "x": 290,
        "y": 840,
        "wires": []
    },
    {
        "id": "link_garmin_to_format",
        "type": "link in",
        "z": "garmin_obsidian_tab",
        "name": "← Daily / Historic",
        "links": [
            "link_daily_to_format",
            "link_historic_to_format"
        ],
        "x": 115,
        "y": 900,
        "wires": [
            [
                "garmin_format_daily"
            ]
        ]
    },
    {
        "id": "garmin_format_daily",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Build Garmin Props",
        "func": "const sl = msg.sleepData    || {};\nconst hr = msg.hrData       || {};\nconst wl = msg.wellnessData || {};\nconst wt = msg.weightData   || null;\n\nmsg.garminProps = {};\nif (wl.totalSteps)                    msg.garminProps.garmin_steps = wl.totalSteps;\nif (sl.durationSeconds)               msg.garminProps.garmin_sleep_hours = +(sl.durationSeconds / 3600).toFixed(1);\nif (sl.sleepScore)                    msg.garminProps.garmin_sleep_score = sl.sleepScore;\nif (sl.deepSleepSeconds)              msg.garminProps.garmin_sleep_deep_min = Math.round(sl.deepSleepSeconds / 60);\nif (sl.lightSleepSeconds)             msg.garminProps.garmin_sleep_light_min = Math.round(sl.lightSleepSeconds / 60);\nif (sl.remSleepSeconds)               msg.garminProps.garmin_sleep_rem_min = Math.round(sl.remSleepSeconds / 60);\nif (sl.awakeSleepSeconds)             msg.garminProps.garmin_sleep_awake_min = Math.round(sl.awakeSleepSeconds / 60);\nif (sl.bodyBatteryChange != null)     msg.garminProps.garmin_body_battery_sleep = sl.bodyBatteryChange;\nif (hr.restingHR)                     msg.garminProps.garmin_hr_resting = hr.restingHR;\nif (hr.maxHR)                         msg.garminProps.garmin_hr_max = hr.maxHR;\nif (wl.averageStressLevel)            msg.garminProps.garmin_stress = wl.averageStressLevel;\nif (wl.moderateIntensityMinutes)      msg.garminProps.garmin_intensity_moderate = wl.moderateIntensityMinutes;\nif (wl.vigorousIntensityMinutes)      msg.garminProps.garmin_intensity_vigorous = wl.vigorousIntensityMinutes;\nconst totalIntensity = (wl.moderateIntensityMinutes || 0) + 2 * (wl.vigorousIntensityMinutes || 0);\nif (totalIntensity > 0)               msg.garminProps.garmin_intensity_total = totalIntensity;\nif (wt && wt.kg)                      msg.garminProps.garmin_weight_kg = wt.kg;\nconst bp = msg.bpData || null;\nif (bp && bp.systolic)                msg.garminProps.garmin_bp_systolic = bp.systolic;\nif (bp && bp.diastolic)               msg.garminProps.garmin_bp_diastolic = bp.diastolic;\nif (bp && bp.pulse)                   msg.garminProps.garmin_bp_pulse = bp.pulse;\nmsg.garminProps.garmin_data = true;\n\nmsg.dedupId = 'garmin_data';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 900,
        "wires": [
            [
                "garmin_build_filename"
            ]
        ]
    },
    {
        "id": "garmin_build_filename",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Daily Note Filename",
        "func": "const vaultPath = flow.get('vaultPath') || '/kms/10 PMS/11 Daily Notes';\nmsg.filename = vaultPath\n    + '/' + msg.dateStr.year\n    + '/' + msg.dateStr.month\n    + '/' + msg.files.dailynotefile;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 900,
        "wires": [
            [
                "link_daily_to_write"
            ]
        ]
    },
    {
        "id": "link_daily_to_write",
        "type": "link out",
        "z": "garmin_obsidian_tab",
        "name": "→ Write Queue",
        "mode": "link",
        "links": [
            "link_from_garmin"
        ],
        "x": 695,
        "y": 900,
        "wires": []
    },
    {
        "id": "link_from_garmin",
        "type": "link in",
        "z": "garmin_obsidian_tab",
        "name": "← All Flows",
        "links": [
            "link_daily_to_write",
            "link_weekly_to_write"
        ],
        "x": 115,
        "y": 960,
        "wires": [
            [
                "write_garmin_queue"
            ]
        ]
    },
    {
        "id": "write_garmin_queue",
        "type": "delay",
        "z": "garmin_obsidian_tab",
        "name": "Queue (1/s)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 960,
        "wires": [
            [
                "garmin_file_read"
            ]
        ]
    },
    {
        "id": "garmin_file_read",
        "type": "file in",
        "z": "garmin_obsidian_tab",
        "name": "Read Daily Note",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": true,
        "x": 480,
        "y": 960,
        "wires": [
            [
                "garmin_insert_notes"
            ]
        ]
    },
    {
        "id": "garmin_insert_notes",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Merge Frontmatter Props",
        "func": "const props = msg.garminProps;\nlet content = (typeof msg.payload === 'string') ? msg.payload : '';\n\n// Build new property lines\nconst newEntries = Object.entries(props).map(([k, v]) => k + ': ' + v).join('\\n');\n\nconst fmMatch = content.match(/^---\\n([\\s\\S]*?)\\n---/);\nif (fmMatch) {\n    // Strip existing garmin_* lines, then append updated values\n    const existingFm = fmMatch[1].split('\\n').filter(l => !l.startsWith('garmin_')).join('\\n');\n    const newFm = existingFm.trim() ? existingFm + '\\n' + newEntries : newEntries;\n    msg.payload = content.replace(/^---\\n([\\s\\S]*?)\\n---/, '---\\n' + newFm + '\\n---');\n} else {\n    // Create frontmatter from scratch\n    msg.payload = '---\\n' + newEntries + '\\n---\\n' + content;\n}\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 960,
        "wires": [
            [
                "garmin_file_write"
            ],
            [
                "link_historic_skip"
            ]
        ],
        "outputLabels": [
            "write",
            "skip (duplicate)"
        ]
    },
    {
        "id": "link_historic_skip",
        "type": "link out",
        "z": "garmin_obsidian_tab",
        "name": "→ Next Day (skip)",
        "mode": "link",
        "links": [
            "garmin_historic_next_day"
        ],
        "x": 865,
        "y": 1020,
        "wires": []
    },
    {
        "id": "garmin_file_write",
        "type": "file",
        "z": "garmin_obsidian_tab",
        "name": "Write Daily Note",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": true,
        "encoding": "none",
        "x": 860,
        "y": 960,
        "wires": [
            [
                "garmin_write_next_day"
            ]
        ]
    },
    {
        "id": "garmin_write_next_day",
        "type": "function",
        "z": "garmin_obsidian_tab",
        "name": "Signal Next Day",
        "func": "if (msg._isHistoric) {\n    return [msg, msg];\n}\nreturn [null, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 960,
        "wires": [
            [
                "link_next_day_out"
            ],
            [
                "garmin_write_debug"
            ]
        ],
        "outputLabels": [
            "historic → advance",
            "debug"
        ]
    },
    {
        "id": "link_next_day_out",
        "type": "link out",
        "z": "garmin_obsidian_tab",
        "name": "→ Next Day (written)",
        "mode": "link",
        "links": [
            "garmin_historic_next_day"
        ],
        "x": 1235,
        "y": 940,
        "wires": []
    },
    {
        "id": "garmin_write_debug",
        "type": "debug",
        "z": "garmin_obsidian_tab",
        "name": "Write Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "filename",
        "statusType": "auto",
        "x": 1240,
        "y": 1000,
        "wires": []
    }
]